.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #f1f1f1;
}
.poke-container {
  margin: auto;
  width: 10%;
  padding: 10px;
}
.List {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.divSearch {
  padding-bottom: 10%;
}
