ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
        float: left;
        p {
            display: block;
            color: black;
            padding-left: 14px;
            text-decoration: none;
        }

        div {
            display: block;
            color: black;
            padding-left: 14px;
            text-decoration: none;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }
        input {
            border: 2px solid transparent;
           
            
        }
    }
    .searchbar {
        
        border: 2px solid transparent;
        float: right;
        margin: 14px 16px;
    }
}
.navbar {
    height: 5rem;
}